<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MUSICEVENT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>
<body>

{{queryState}}
{{concertsList}}
{{lastBookedConcerts}}

<div id="body" class="container-fluid">
    <div id="top" class="row justify-content-md-center">
        <div class="col-md-auto"></div>
        <div class="col-md-4 mx-auto" align="center">
            <div id="title">
                <H1>MUSICEVENT.COM</H1>
                <h6>FIND THE EVENT THAT SUITS YOU</h6>
                <hr>
                </br>
                <h4>FIND A CONCERT</h4>
                </br>
            </div>
            <div id="research">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                           value="option1">
                    <label class="form-check-label" for="inlineRadio1">BY ARTIST/GROUP</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio2">BY CITY</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                           value="option3">
                    <label class="form-check-label" for="inlineRadio3">BY DATE</label>
                </div>
                <div id="research_input" class="input-group mb-5 col-md-6">
                    <input type="text" class="form-control" placeholder=" " aria-label=""
                           aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" disabled>SEARCH
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-auto"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-5">
            <div><h5>THERE IS 1 RESULT</h5></div>
            <div class="container_artist row d-flex flex-row">
                <div class="col-md-auto"><img class="photo"
                                              src="https://images-na.ssl-images-amazon.com/images/I/91Vc6ZS1kQL._SL1500_.jpg"/>
                </div>
                <div class="col">
                    <h7>Artist</h7>
                    <h5>POWERWOLF</h5>
                    <hr>
                    <h7>Type of music</h7>
                    <h5>POWER METAL</h5>
                </div>
                <div class="col">
                    <h7>Concert Date</h7>
                    <h5>15/02/2021</h5>
                    <hr>
                    <h7>City</h7>
                    <h5>FRANCE, PARIS</h5>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary button_submit" data-toggle="modal"
                            data-target="#concert_booking">BOOK
                    </button>
                </div>
            </div>
            <div id="newletter">
                <h4>SUBSCRIBE TO OUR NEWLETTER !</h4>
                <form>
                    <div class="form-group">
                        <label for="newsEmail">Email address</label>
                        <input type="email" class="form-control" id="newsEmail" aria-describedby="emailHelp">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="offersCheck" checked>
                        <label class="form-check-label" for="offersCheck">Receive offers from our partners</label>
                    </div>
                    <button type="button" class="btn btn-primary" id="newsSubmit" disabled>Submit</button>
                </form>
            </div>
        </div>
        <div class=" col">
            <div class="col"></div>
            <div class="col">
                <div><h5>LAST RESERVATIONS</h5></div>
                <div id="container_reservations">
                    <div class=" d-flex flex-row" style="white-space: nowrap">
                        <div class="col">
                            <img class="photo_small"
                                 src="https://images-na.ssl-images-amazon.com/images/I/91Vc6ZS1kQL._SL1500_.jpg"/>
                        </div>
                        <div class="col">
                            <h8>Artist</h8>
                            <h6>POWERWOLF</h6>
                        </div>
                        <div class="col">
                            <h8>Date</h8>
                            <h6>15/02/2021</h6>
                        </div>
                        <div class="col">
                            <h8>City</h8>
                            <h6>PARIS</h6>
                        </div>
                    </div>
                    <hr>
                    <div class=" d-flex flex-row" style="white-space: nowrap">
                        <div class="col">
                            <img class="photo_small"
                                 src="https://images-na.ssl-images-amazon.com/images/I/91Vc6ZS1kQL._SL1500_.jpg"/>
                        </div>
                        <div class="col">
                            <h8>Artist</h8>
                            <h6>POWERWOLF</h6>
                        </div>
                        <div class="col">
                            <h8>Date</h8>
                            <h6>15/02/2021</h6>
                        </div>
                        <div class="col">
                            <h8>City</h8>
                            <h6>PARIS</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <!----------------------POPUP--------------------->
    <div class="modal fade" style="color:black" id="concert_booking" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">BOOK THE CONCERT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" name="firstName" placeholder="First name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="lastName" placeholder="Last name">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" name="mailAdress" placeholder="Mail adress">
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="bookSubmit" disabled>BOOK</button>
                </div>
            </div>
        </div>
    </div>
    <!-------------FIN POPUP---------------------------->
    <footer>
        <div id="footer">
            <h6>© 2020 MUSICEVENT.COM BY VALENTIN & VIRGILE</h6>
        </div>
    </footer>
</div>

</body>
      
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='jsfile.js')}}"></script>

</html>
